<div class="row">
  <div class="col-md-12">

    <p id="notice"><%= notice %></p>

    <h1>Collection: <%= @collection.name %></h1>
    <p><em><%= @collection.description %></em></p>

  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <% @collection.readings.each do |reading| %>
      <strong><%= reading.poem.title %></strong> by <%= reading.poem.poet.name %>
      <!--
      <strong><%= link_to reading.poem.title, controller: "poems", action: "show", id: reading.poem.slug %></strong> by <%= reading.poem.poet.name %>
      -->
      <p><%= reading.reader.name %></p>
      <div style="max-width: 500px"><%= reading.embeddable %></div>
      <br />
    <% end %>
  </div>
</div>

<br>