<div class="row">
  <div class="col-md-12">

    <p id="notice"><%= notice %></p>

    <h1>Poems</h1>

    <%= form_tag('/') do %>
      <%= text_field_tag(:q, nil, :id => 'live-filter', class: 'form-control live-filter-input', placeholder: "Search by title...") %>
    <% end %>

    <br />

    <div id="search-results">


      <% @poems.each do |key, value| %>
      <div class="item">
        <h3><%= key %></h3>
        <% value.each do |poem| %>
            <p><%= link_to poem.title, controller: "poems", action: "show", id: poem.slug %> by <%= link_to poem.poet.name, poet_path(poem.poet) %></p>
        <% end %>
      </div>
      <% end %>




    </div>

    <br>

    <%= render "shared/live_filter" %>

  </div>
</div>