<div class="row">
  <div class="col-md-12">

    <p id="notice"><%= notice %></p>

    <h1>&lsquo;<%= @poem.title %>&rsquo;</h1>

    <h4><%= link_to @poem.poet.name, poet_path(@poem.poet) %></h4>

  </div>
</div>

<div class="row">
  <% if @poem_text %>
    <div class="col-md-6">

        <div style="white-space:pre-line; line-height: 2em;">
          <%= @poem_text  %>
        </div>

    </div>
  <% end %>

  <div class="col-md-6">
  <br />
    <ul id="search-results" class="list-unstyled">
      <% @readings.each do |reading| %>
        <li>
          <% if reading.embeddable %>
            <%= link_to "#{reading.media_type.capitalize} reading", "#", title: reading.url, :data => {:toggle => "modal", :target => "#modal#{reading.id}"} %> <%= brand_icon(reading.url) %> read by <%= link_to reading.reader.name, reader_path(reading.reader) %>
          <% else %>
            <%= link_to "#{reading.media_type.capitalize} reading", reading.url, target: "_blank", title: reading.url %> <%= brand_icon(reading.url) %> read by <%= link_to reading.reader.name, reader_path(reading.reader) %>
          <% end %>
        </li>
      <% end %>
    </ul>

  </div>

</div>
<!-- white-space:pre-line;line-height: 2em;font-family: verdana;font-size: 12px; -->
<br>

<% if @poem_text %>
  <div class="modal fade" id="poem-text" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel"><%= @poem.title %></h4>
        </div>
        <div class="modal-body" style="white-space:pre-line;">
          <%= @poem_text %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- Reading modals -->
<% @readings.each do |reading| %>
  <%= render "poems/modals", :title => reading.poem.title, :embeddable => reading.embeddable, :id => reading.id %>
<% end %>
<!-- /Reading modals -->
