<%= form_for(@poet) do |f| %>
  <% if @poet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poet.errors.count, "error") %> prohibited this poet from being saved:</h2>

      <ul>
      <% @poet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_field :bio %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.text_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
