<div class="row">
  <div class="col-md-12">

    <p id="notice"><%= notice %></p>

    <h1>Poets</h1>

    <%= form_tag('/') do %>
      <%= text_field_tag(:q, nil, :id => 'live-filter', class: 'form-control live-filter-input', placeholder: "Search by poet's name...") %>
    <% end %>

    <br />

      <div id="search-results">

        <% @poets.in_groups_of(4, false).each do |group| %>
          <div class="row">
          <% group.each do |poet| %>
            <div class="col-sm-6 col-md-3 item" data-name="<%= poet.name %>">
              <div class="thumbnail" data-name="<%= poet.name %>">
                <img src="<%= poet.image %>" data-name="<%= poet.name %>" alt="<%= poet.name %>" />
                <div class="caption">
                  <%= link_to poet.name, controller: "poets", action: "show", id: poet.slug %>
                </div>
              </div>
            </div>
          <% end %>
          </div>
        <% end %>


      </div>

    <br>

    <%= render "shared/live_filter" %>

  </div>
</div>