<div class="row">
  <div class="col-md-12">

    <p id="notice"><%= notice %></p>

    <h1><%= @poet.name %></h1>

    <p><img src="<%= @poet.image %>" width="300" /></p>

    <%= render_shareable :buttons=> ['twitter', 'facebook'] %>
    <br /><br />

    <ul id="search-results" class="list-unstyled">
      <% @poems.each do |poem| %>
        <li>
          <%= link_to poem.title, controller: "poems", action: "show", id: poem.slug %> (<%= pluralize(poem.readings.count, 'reading', 'readings') %>)
        </li>
      <% end %>
    </ul>

    <br>
  </div>
</div>