<%= form_for(@reading) do |f| %>
  <% if @reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
      <% @reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :poem_id %><br>
    <%= f.number_field :poem_id %>
  </div>
  <div class="field">
    <%= f.label :reader_id %><br>
    <%= f.number_field :reader_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
