<div class="row">
  <div class="col-md-12">

    <p id="notice"><%= notice %></p>

    <h1>Listing Readings</h1>

    <table>
      <thead>
        <tr>
          <th>Poem</th>
          <th>Reader</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @readings.each do |reading| %>
          <tr>
            <td><%= reading.poem_id %></td>
            <td><%= reading.reader_id %></td>
            <td><%= link_to 'Show', reading %></td>
            <td><%= link_to 'Edit', edit_reading_path(reading) %></td>
            <td><%= link_to 'Destroy', reading, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>

  </div>
</div>