<div class="row">
  <div class="col-md-12">

    <p id="notice"><%= notice %></p>

    <h1>Readers</h1>

    <%= form_tag('/') do %>
      <%= text_field_tag(:q, nil, :id => 'live-filter', class: 'form-control live-filter-input', placeholder: "Search by reader's name...") %>
    <% end %>

    <br />

      <div id="search-results">

        <% @readers.in_groups_of(4, false).each do |group| %>
          <div class="row">
          <% group.each do |reader| %>
            <div class="col-sm-6 col-md-3 item">
              <div class="thumbnail">
                <img src="<%= reader.image %>" />
                <div class="caption">
                  <%= link_to reader.name, controller: "readers", action: "show", id: reader.slug %><br />
                </div>
              </div>
            </div>
          <% end %>
          </div>
        <% end %>


      </div>

    <br>

    <%= render "shared/live_filter" %>

  </div>
</div>