<div class="row">
  <div class="col-md-12">

    <p id="notice"><%= notice %></p>

    <h1><%= @reader.name %></h1>

    <p><img src="<%= @reader.image %>" width="300" /></p>

    <%= render_shareable :buttons=> ['twitter', 'facebook'] %>
    <br /><br />

    <ul id="search-results" class="list-unstyled">
      <% @readings.each do |reading| %>
        <li>
          <% if reading.embeddable %>
          <%= link_to "#{reading.media_type.capitalize} reading", reading.url, :data => {:toggle => "modal", :target => "#modal#{reading.id}"} %> <%= brand_icon(reading.url) %> of <%= link_to reading.poem.title, poem_path(reading.poem) %> (<%= link_to reading.poem.poet.name, poet_path(reading.poem.poet) %>)
          <% else %>
          <%= link_to "#{reading.media_type.capitalize} reading", reading.url, target: "_blank" %> <%= brand_icon(reading.url) %> of <%= link_to reading.poem.title, poem_path(reading.poem) %> (<%= link_to reading.poem.poet.name, poet_path(reading.poem.poet) %>)
          <% end %>
        </li>
      <% end %>
    </ul>

    <br>

    <!-- Reading modals -->
    <% @readings.each do |reading| %>
      <%= render "poems/modals", :title => reading.poem.title, :embeddable => reading.embeddable, :id => reading.id %>
    <% end %>
    <!-- /Reading modals -->

    <%= render "shared/live_filter" %>

  </div>
</div>