  <title>Poetic Voices | Readings of <%= @poet.name %>'s poetry</title>

  <!-- OG Meta Data -->
  <meta content="Poetic Voices" property="og:title">
  <meta content="Audio and video readings of poems by <%= @poet.name %>" property="og:description">
  <meta content="website" property="og:type">
  <meta content="<%= poet_url(@poet) %>" property="og:url">
  <meta content="<%= @poet.image %>" property="og:image">
  <meta content="Poetic Voices" property="og:site_name">
  <!-- Twitter -->
  <meta content="summary_large_image" name="twitter:card">
  <meta content="<%= poet_url(@poet) %>" name="twitter:url">
  <meta content="Poetic Voices" name="twitter:title">
  <meta content="Audio and video readings of poems by <%= @poet.name %>" name="twitter:description">
  <meta content="<%= @poet.image %>" name="twitter:image">
  <meta content="@davemcginn_ie" name="twitter:site">