  <title>Poetic Voices | Poetry readings by <%= @reader.name %></title>

  <!-- OG Meta Data -->
  <meta content="Poetic Voices" property="og:title">
  <meta content="Audio and video poetry readings by <%= @reader.name %>" property="og:description">
  <meta content="website" property="og:type">
  <meta content="<%= reader_url(@reader) %>" property="og:url">
  <meta content="<%= @reader.image %>" property="og:image">
  <meta content="Poetic Voices" property="og:site_name">
  <!-- Twitter -->
  <meta content="summary_large_image" name="twitter:card">
  <meta content="<%= reader_url(@reader) %>" name="twitter:url">
  <meta content="Poetic Voices" name="twitter:title">
  <meta content="Audio and video poetry readings by <%= @reader.name %>" name="twitter:description">
  <meta content="<%= @reader.image %>" name="twitter:image">
  <meta content="@davemcginn_ie" name="twitter:site">