  <title>Poetic Voices | Collection: <%= @collection.name %></title>

  <!-- OG Meta Data -->
  <meta content="Poetic Voices" property="og:title">
  <meta content="<%= @collection.name %> collection of poetry readings. Audio and video readings of your favourite poems" property="og:description">
  <meta content="website" property="og:type">
  <meta content="<%= collection_url(@collection) %>" property="og:url">
  <meta content="<%= @collection.cover_image %>" property="og:image">
  <meta content="Poetic Voices" property="og:site_name">
  <!-- Twitter -->
  <meta content="summary_large_image" name="twitter:card">
  <meta content="<%= collection_url(@collection) %>" name="twitter:url">
  <meta content="Poetic Voices" name="twitter:title">
  <meta content="<%= @collection.name %> collection of poetry readings. Audio and video readings of your favourite poems" name="twitter:description">
  <meta content="<%= @collection.cover_image %>" name="twitter:image">
  <meta content="@davemcginn_ie" name="twitter:site">