  <title>Poetic Voices</title>

  <!-- OG Meta Data -->
  <meta content="Poetic Voices" property="og:title">
  <meta content="Audio and video readings of your favourite poems" property="og:description">
  <meta content="website" property="og:type">
  <meta content="http://www.poetic-voices.com/" property="og:url">
  <meta content="<%= asset_path('cover.jpg') %>" property="og:image">
  <meta content="Poetic Voices" property="og:site_name">
  <!-- Twitter -->
  <meta content="summary_large_image" name="twitter:card">
  <meta content="http://www.poetic-voices.com/" name="twitter:url">
  <meta content="Poetic Voices" name="twitter:title">
  <meta content="Audio and video readings of your favourite poems" name="twitter:description">
  <meta content="<%= asset_path('cover.jpg') %>" name="twitter:image">
  <meta content="@davemcginn_ie" name="twitter:site">