  <title>Poetic Voices | <%= @poem.title %> by <%= @poem.poet.name %></title>

  <!-- OG Meta Data -->
  <meta content="Poetic Voices" property="og:title">
  <meta content="Audio and video readings of ‘<%= @poem.title %>’ by <%= @poem.poet.name %>" property="og:description">
  <meta content="website" property="og:type">
  <meta content="<%= poem_url(@poem) %>" property="og:url">
  <meta content="<%= asset_path('cover.jpg') %>" property="og:image">
  <meta content="Poetic Voices" property="og:site_name">
  <!-- Twitter -->
  <meta content="summary_large_image" name="twitter:card">
  <meta content="<%= poem_url(@poem) %>" name="twitter:url">
  <meta content="Poetic Voices" name="twitter:title">
  <meta content="Audio and video readings of ‘<%= @poem.title %>’ by <%= @poem.poet.name %>" name="twitter:description">
  <meta content="<%= asset_path('cover.jpg') %>" name="twitter:image">
  <meta content="@davemcginn_ie" name="twitter:site">
