<h1>Static#index</h1>
<p>Find me in app/views/static/index.html.erb</p>

<%= form_tag("/search", method: "get") do %>
  <%= text_field_tag(:q) %>
  <%= submit_tag("Search") %>
<% end %>
<p>Browse: <%= link_to "Poets", controller: "poets", action: "index" %>, <%= link_to "Poems", controller: "poems", action: "index" %>, or <%= link_to "Readers", controller: "readers", action: "index" %></p>
