<h1>Search Results</h1>
<p><em>Searching poets, poems and readers for '<%= params[:q] %>'</em></p>

<h2>Poets</h2>
<% if @poets.empty? %>
  <p>No poets found for your search</p>
<% else %>
  <% @poets.each do |poet| %>
    <li>
      <%= link_to poet.name, controller: "poets", action: "show", id: poet.slug %> (<%= pluralize(poet.poems.count, 'poem', 'poems') %>)<br />
    </li>
  <% end %>
<% end %>

<h2>Poems</h2>
<% if @poems.empty? %>
  <p>No poems found for your search</p>
<% else %>
  <% @poems.each do |poem| %>
    <li>
      <%= link_to poem.title, controller: "poems", action: "show", id: poem.slug %> (<%= poem.poet.name %>)<br />
    </li>
  <% end %>
<% end %>


<h2>Readers</h2>
<% if @readers.empty? %>
  <p>No readers found for your search</p>
<% else %>
    <% @readers.each do |reader| %>
      <li>
        <%= link_to reader.name, controller: "readers", action: "show", id: reader.slug %> (<%= pluralize(reader.readings.count, 'reading', 'readings') %>)<br />
      </li>
    <% end %>
<% end %>
