/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";


.homepage {
    margin-top: -70px;
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: url(asset_path('cover.jpg'));
    background-size: cover;
    background-position: center
}

.billboard {
    padding-top: 48px;
    padding-bottom: 72px;
    color: white
}

@media (min-width: 768px) {
    .billboard {
        padding-bottom: 96px
    }
}

.billboard h1,
.billboard p {
    text-align: center
}

.billboard h1 {
    font-size: 28px
}

@media (min-width: 768px) {
    .billboard h1 {
        font-size: 44px
    }
}

.search-area {
    margin-top: 24px
}

#form-search-group {
    padding-bottom: 8px
}

.search>.container {
    padding-top: 20px
}

#map-canvas {
    height: 300px
}

.info-panel {
    height: 130px
}

.blue-bg {
    background-color: #95CFFF
}

.info-panel-text {
    line-height: 100px;
    font-size: 42px;
    font-weight: bold;
    color: white
}

.person-list-thumb {
    width: 100px;
    height: 100px
}

table[data-sortable] {
    border-collapse: collapse;
    border-spacing: 0
}

table[data-sortable] th {
    vertical-align: bottom;
    font-weight: bold
}

table[data-sortable] th,
table[data-sortable] td {
    text-align: left;
    padding: 10px
}

table[data-sortable] th:not([data-sortable="false"]) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    cursor: pointer
}

table[data-sortable] th:after {
    content: "";
    visibility: hidden;
    display: inline-block;
    vertical-align: inherit;
    height: 0;
    width: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    margin-right: 1px;
    margin-left: 10px;
    float: right
}

table[data-sortable] th[data-sorted="true"]:after {
    visibility: visible
}

table[data-sortable] th[data-sorted-direction="descending"]:after {
    border-top-color: inherit;
    margin-top: 8px
}

table[data-sortable] th[data-sorted-direction="ascending"]:after {
    border-bottom-color: inherit;
    margin-top: 3px
}

table[data-sortable].sortable-theme-bootstrap {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background: #fff
}

table[data-sortable].sortable-theme-bootstrap thead th {
    border-bottom: 2px solid #e0e0e0
}

table[data-sortable].sortable-theme-bootstrap tbody td {
    border-top: 1px solid #e0e0e0
}

table[data-sortable].sortable-theme-bootstrap th[data-sorted="true"] {
    color: #3a87ad;
    background: #d9edf7;
    border-bottom-color: #bce8f1
}

table[data-sortable].sortable-theme-bootstrap th[data-sorted="true"][data-sorted-direction="descending"]:after {
    border-top-color: #3a87ad
}

table[data-sortable].sortable-theme-bootstrap th[data-sorted="true"][data-sorted-direction="ascending"]:after {
    border-bottom-color: #3a87ad
}

table[data-sortable].sortable-theme-bootstrap.sortable-theme-bootstrap-striped tbody>tr:nth-child(odd)>td {
    background-color: #f9f9f9
}


.live-filter-input {
  width: 60%;
}

@media (max-width: 768px) {
  .live-filter-input {
    width: 100%;
  }
}




.youtube-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



nav.share {display:inline-block;} /* shareable's nav tag */
nav.share div {float:left;}
nav.share iframe {border:0; margin-top:0; padding-top:0;} /* if using medium sized buttons */
#___plusone_0 {font-size: default !important;}
.fb_iframe_widget span { vertical-align: top; }
.fb_edge_widget_with_comment { vertical-align: top;}
.fb-like{display:inline-block; margin: auto 10px; }
* html .fb-like{display:inline}/* ie6 inline block fix*/
*+html .fb-like{display:inline}/* ie7 inline block fix*/

