<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'jquery.fastLiveFilter', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

  <% 
  variable_name = params[:controller][0..-2]
  %>

  <% if params[:action]=='show' %>
    <%= render "shared/meta_#{params[:controller]}", variable_name.to_sym => instance_variable_get("@#{variable_name}") %>
  <% else %>
    <%= render "shared/meta" %>
  <% end %>

</head>
<body class="welcome">
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-bar" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand">
        Poetic Voices
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navigation-bar">
        <ul class="nav navbar-nav">
          <li><%= link_to "Poets", poets_path %></li>
          <li><%= link_to "Poems", poems_path %></li>
          <li><%= link_to "Readers", readers_path %></li>
        </ul>
        <form class="navbar-form" action="/search" method="GET">
          <div class="form-group">
            <input type="text" name="q" placeholder="Search..." class="form-control">
          </div>
        </form>
      </div>


    </div>
  </nav>


  <div>
    <div class="container">
      <!-- <div class="row"> -->
        <!-- <div class="col-md-12"> -->


          <%= yield %>

        <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>


  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
        <!-- <hr> -->
          <br /> <br />
          <ul class="list-inline pull-right">
            <!-- <li class="text-muted"><%= link_to "About", controller: 'static', action: 'about' %></li>
            <li class="text-muted"><a target="_blank" href="https://twitter.com/davemcginn_ie">Twitter</a></li> -->
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <!-- /Footer -->

  <%= render "shared/google_analytics" %>

</body>
</html>
